<link href="../../../../plugin_assets/murmur_chat/stylesheets/murmur-chat.css" media="screen" rel="stylesheet" type="text/css"/>

<div id="murmur-template" class="hidden">
  <img id="user-image" src="../../../../plugin_assets/murmur_chat/images/default_user_avatar.png">

  <div id="message" class="message"></div>
  <div class="user-name">
    <span id="user-name"></span> <span id="create-at" class="create-at"></span>
  </div>
</div>

<div id="clear"></div>

<h2>Murmur Chat for <%= @project.identifier %></h2>

<div class="murmur-chat">
  <div class="new-murmur">
    <label for="new-murmur"></label>
    <textarea rows="3" cols="1" id="new-murmur"></textarea>
  </div>

  <div id='murmur-messages' class="murmur-feed"></div>
  <br/>
</div>

<div id="debug-info"></div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="../../../../plugin_assets/murmur_chat/javascripts/murmur-chat.js"></script>
<script language="javascript" type="text/javascript" src="../../../../plugin_assets/murmur_chat/javascripts/debug.js"></script>
<script type="text/javascript">
    jQuery.noConflict();
    murmurChat.macroDebugInit(<%= debug_parameter %>, jQuery("#debug-info"));
    MingleJavascript.register(function () {
        try {
            murmurChat.init(jQuery);
        } catch(err) {
            murmurChat.log(err);
        }
    });
</script>